.header__title {
  position: relative;
  margin: 0 0 0 64px;
  height: 100%;
  width: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 1;
}
